name: CI - Train and save the model

on:
  push:
    branches: [ main ]
  pull_requests:
    branches: [ main ]

jobs:
  matrix-pip:
    name: Train and save the model
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.11 , 3.12 , 3.13]


    steps:
      - name: Checkout #checkout the source code so that VM has the required files
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install project dependencies
        run: python -m pip install -r requirements.txt

      - name: Train the model
        run: |
          python train.py
          ls -la artifacts
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ml-artifacts -${{ matrix.python }}-${{ github.run_id }}
          path: artifacts